<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/A-64.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Categorias']">Categoria</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['producto']">Productos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['factura']">Factura</a>
        </li>
  
        
      </ul>
    </div>
    <div class="text text-right">
      <span class="navbar-text right">
        <button *ngIf="auth.estaAutenticado()" (click)="salir()" class="btn btn-danger">
          Salir
        </button>
      </span>
    </div>
  </nav>
  
