<h1>Comparatives</h1>
<h6>Cantidad de Registros <span class="badge badge-success"> {{ totalRecords }} </span></h6>
<hr>
<div class="row">
    <div class="col text-left">
        <form class="form-inline my-2 my-lg-0 ml-2" (ngSubmit)="getFindComparativeName(filter.value)">
            <input class="form-control mr-sm-2" type="search" placeholder="Categoria" aria-label="Search" #filter>
            <button class="btn btn-outline-success my-2 my-sm-0 m-2" type="submit">Buscar</button>
        </form>

    </div>
    <div class="col text-right">
        <button routerLink="/comparative/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>
<table id="excel-table" class="table mt-3 animate__hinge">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adjetive</th>
            <th scope="col">Comparative</th>
            <th scope="col">Superlative</th>
            <th scope="col">Spanish</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comparative of comparatives | paginate:{ id: 'listing_pagination',
                itemsPerPage:6,
                currentPage: page,
                totalItems: totalRecords}, let i= index">

            <th scope="row"> {{i + 1}}</th>
            <td>{{comparative.Adjetive}}</td>
            <td>{{comparative.Comparativo}}</td>
            <td>{{comparative.Superlative}}</td>
            <td>{{comparative.Spanish}}</td>
            <td>
                <button (click)="updateComparative(comparative)" class="btn btn-info mr-1" data-toggle="modal"
                    data-target="#myModal">
                    <i class="fa fa-pencil"></i>
                </button>
                <button (click)="getFindComparativeID(comparative.idAdjetive)" class="btn btn-success mr-1"
                    data-toggle="modal" data-target="#myModalQuestions">
                    <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <div>
        <pagination-controls id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"> </pagination-controls>
        <button class="btn btn-success float-right" (click)="exportexcel()">
            Descargar Excel
        </button>
    </div>
</div>





<div *ngIf="cargando" class="alert alert-info text-center mt-5 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        a Espere por favor
    </p>
</div>

<div *ngIf="!cargando && comparatives.length ===0" class="alert alert-warning text-center mt-5 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<!-- Modal Update-->
<div class="modalCss">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form (ngSubmit)="guardar(f)" #f="ngForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Comparative</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID Database</label>
                            <input class="form-control" type="text" placeholder="ID" [ngModel]="comparative.idAdjetive"
                                ngModel name="idAdjetive" disabled="disabled">
                            <small class="form-text text-muted">Este campo es autogenerado</small>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label>Adjetive</label>
                                <input class="form-control" type="text"
                                    [class.is-invalid]="NombreAdjetivo.invalid && NombreAdjetivo.touched"
                                    placeholder="Nombre Adjetivo" [ngModel]="comparative.Adjetive" ngModel
                                    name="Adjetive" required minlength="3" #NombreAdjetivo="ngModel">
                                <small *ngIf="NombreAdjetivo.invalid && NombreAdjetivo.touched"
                                    class="form-text text-danger">Debe ingresar minimo 3 letras</small>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Comparative</label>
                                <input class="form-control" type="text"
                                    [class.is-invalid]="NombreComparative.invalid && NombreComparative.touched"
                                    placeholder="Nombre Comparative" [ngModel]="comparative.Comparativo" ngModel
                                    name="Comparativo" required minlength="3" #NombreComparative="ngModel">
                                <small *ngIf="NombreComparative.invalid && NombreComparative.touched"
                                    class="form-text text-danger">Debe ingresar minimo 3 letras</small>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Superlative</label>
                                <input class="form-control" type="text"
                                    [class.is-invalid]="NombreSuperlative.invalid && NombreSuperlative.touched"
                                    placeholder="Nombre Superlative" [ngModel]="comparative.Superlative" ngModel
                                    name="Superlative" required minlength="3" #NombreSuperlative="ngModel">
                                <small *ngIf="NombreSuperlative.invalid && NombreSuperlative.touched"
                                    class="form-text text-danger">Debe ingresar minimo 3 letras</small>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Spanish</label>
                                <input class="form-control" type="text"
                                    [class.is-invalid]="NombreSpanish.invalid && NombreSpanish.touched"
                                    placeholder="Nombre Spanish" [ngModel]="comparative.Spanish" ngModel name="Spanish"
                                    required minlength="3" #NombreSpanish="ngModel">
                                <small *ngIf="NombreSpanish.invalid && NombreSpanish.touched"
                                    class="form-text text-danger">Debe ingresar minimo 3 letras</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Prayer</label>
                            <textarea class="form-control" name="Questions" placeholder="Your message" ngModel>
                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa fa-save"></i>
                            <span> Actualizar </span>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal Table Id Questions-->

<div id="myModalQuestions" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{name}}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <ul *ngFor="let question of questions">
                    <li>{{question.Questions}}</li>
                </ul>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>