
<div class="row text-right">
    <div class="col">
        <button routerLink="/registro" class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Registro
        </button>
    </div>
</div>

<div class="row animate__fadeIn mt-5">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Bien Hecho!</h4>
            <p class="text-center">Recibi tu correo en las proximas 24 hrs te estare respondiendo.</p>
        </div>
    </div>
</div>        

